@import '../global_variables';

.input-fields {
  input {
    background-color: $gray;
    border-radius: $base-radius;
    color: $white;
    height: 40px;
    margin-bottom: $s-12;
    padding: $s-16;
    width: 80%;
  }
}

.submit-button {
  background-color: $blue;
  bottom: 0;
  color: $white;
  cursor: pointer;
  font-weight: $fw-bold;
  height: 72px;
  position: absolute;
  right: 0;
  width: 100%;
  font-size: $fs-20;

  &:hover {
    background-color: $dark-blue;
    transition: background-color 200ms ease-in-out;
  }
}

.info {
  margin-top: $s-16;

  a {
    color: $blue;
  }
}