@import '../global_variables';

nav {
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  width: 100%;

  ul {
    list-style: none;
  }

  li {
    margin-bottom: $s-32;
    text-align: center;
  }

  a {
    font-size: $fs-20;
    opacity: $max-opacity;
    transition: opacity 150ms ease-in-out;
  }
}

/* TOGGLE MENU TRANSFORM NAV FOR MOBILE */
.toggle-menu:checked ~ nav {
  transform: scale(1, 1);
}

.toggle-menu:checked ~ nav a {
  opacity: $min-opacity;
  transition: opacity 250ms ease-in-out 250ms;
}

/* RESPONSIVE STYLE WHEN SCREEN EXCEEDS 900PX */
@media screen and (min-width: $bh-mobile) {
  nav {
    background: none;

    /* Edge support */
    display: flex;
    left: initial;
    position: relative;
    text-align: left;
    top: initial;
    transform: scale(1, 1);
    transition: none;

    ul {
      display: flex;
      padding-top: $s-20;
      width: 100%;

      // Align last child to the right
      li:last-child {
        margin: 0 1rem 0 auto;
      }
    }

    li {
      margin-left: $s-32;
    }

    /* Todo - Based on site hover a nav button (Welcome page -> Home button is hovered) */
    /* Nav highlighting */
    a {
      opacity: $min-opacity;
      position: relative;

      &::before {
        background-color: $light-blue;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
        top: 1.5em;
        transform: scale(0, 1);
        transition: transform ease-in-out 350ms;
      }

      &:hover {
        opacity: $base-opacity;

        &::before {
          transform: scale(1, 1);
        }
      }
    }
  }
}