// Experimental - find other way to import
@import '../global';

nav {
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
	width: 100%;

	ul {
		list-style: none;
	}

	li {
		margin-bottom: 2.5em;
		text-align: center;
	}

	a {
		color: $white;
		font-size: 1.2rem;
		opacity: 0;
		text-decoration: none;
		transition: opacity 150ms ease-in-out;
	}
}

/* TOGGLE MENU TRANSFORM NAV FOR MOBILE */
.toggle-menu:checked ~ nav {
	transform: scale(1, 1);
}

.toggle-menu:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

/* RESPONSIVE STYLE WHEN SCREEN EXCEEDS 900PX */
@media screen and (min-width: 900px) {
	nav {
		background: none;

		/* Edge support */
		display: flex;
		left: initial;
		position: relative;
		text-align: left;
		top: initial;
		transform: scale(1, 1);
		transition: none;

		ul {
			display: flex;
			padding-top: 0.9em;
			width: 100%;
		}

		li {
			line-height: 2.25em;
			margin-left: 2em;

			&:last-child {
				margin: 0 1em 0 auto;
			}
		}

		/* Todo - Based on site hover a nav button (Welcome page -> Home button is hovered) */
		a {
			opacity: 1;
			position: relative;

			&::before {
				background-color: $light-blue;
				content: '';
				display: block;
				height: 3px;
				left: 0;
				position: absolute;
				right: 0;
				top: 1.5em;
				transform: scale(0, 1);
				transition: transform ease-in-out 250ms;
			}

			&:hover {
				opacity: 0.9;

				&::before {
					transform: scale(1, 1);
				}
			}
		}
	}
}