VITE_WEB_API_KEY=""
VITE_SECURE=""
VITE_DATABASE_URL="mysql://root@127.0.0.1:3309/<planet_scale_name>"
VITE_FIREBASE_SERVICE_ACCOUNT_KEY=""
VITE_FIREBASE_CONFIG=""
VITE_FIREBASE_SERVICE_ACCOUNT_KEY=""
DEV=true
