/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  font: inherit;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  background: linear-gradient(140deg, #43484d, #46484b, #484848);
  color: #fff;
  font-family: Arimo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  color: #fff;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

// Todo add firefox support
::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
::-webkit-scrollbar-thumb { /* Foreground */
  background: #333;
  background-clip: content-box;
  border-radius: 10px;

  &:hover {
    background: rgba(#2492f9, 0.5);
  }
}
::-webkit-scrollbar-track { /* Background */
  background: #484848;
}