@font-face {
    font-family: Arimo;
    font-weight: 400;
    src: url('static/fonts/Arimo.ttf') format('ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #e7e4f9;
    background: #484848;
    overflow-x: hidden;
    font-family: Arimo, sans-serif;
}
