/* COLORS */
$blue: #2492F9;
$light-blue: #46bdff;
$dark-blue: #1088F9;
$white: #fff;
$dark: #464646;
$gray: #b3b8bc99;

/* FONT WEIGHT */
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
$fw-ultra: 800;

/* FONT SIZE */
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-42: 2.625rem;

/* SPACING */
$s-6: 0.375rem;
$s-12: 0.75rem;
$s-16: 1rem;
$s-20: 1.25rem;
$s-32: 2rem;
$s-64: 4rem;

/* BORDER */
$base-radius: 5px;

/* BREAK POINTS WIDTHS */
$bw-mobile: 414px;
$bw-desktop: 962px;

/* BREAK POINTS HEIGHTS */
$bh-mobile: 640px;
$bh-desktop: 768px;

/* Z-INDEX */
$max-z-index: 9999;
$base-z-index: 1;
$back-z-index: -1;

/* BOX SHADOW */
$base-shadow: #0000003d 0 3px 8px;

/* OPACITY */
$max-opacity: 0;
$base-opacity: 0.8;
$min-opacity: 1;