/* COLORS */
$blue: #44a1fa;
$light-blue: #46bdff;
$dark-blue: #4393f7;
$white: #fff;
$dark: #464646;
$gray: #b3b8bc99;
$dark-gradient: linear-gradient(140deg, #43484d, #46484b, #484848);

/* FONT WEIGHT */
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
$fw-ultra: 800;

/* BASE FONT */
$base-font-size: 16px;
$base-font-weight: $fw-regular;
$base-line-height: 1.5;
