/* COLORS */
$blue: #44a1fa;
$light-blue: #46bdff;
$dark-blue: #4393f7;
$white: #fff;
$dark: #464646;
$gray: #b3b8bc99;

/* FONT WEIGHT */
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
$fw-ultra: 800;

/* BASE FONT */
$base-font-size: 16px;
$base-font-weight: $fw-regular;
$base-line-height: 1.5;

/* BORDER */
$base-radius: 5px;

/* BREAK POINTS */
$b_mobile: 700px;
$b_desktop: 1200px;

/* Z-INDEX */
$z-index-base: 1;
$z-index-back: -1;
$z-index-max: 9999;

/* BOX SHADOW */
$base-shadow: #0000003d 0 3px 8px;