@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Arimo.woff2') format('woff2');
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  font: inherit;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  background: linear-gradient(140deg, #43484d, #46484b, #484848);
  color: #fff;
  font-family: Arimo, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  color: #fff;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

// Todo add firefox support
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  background-clip: content-box;
  border-radius: 999px;

  &:hover {
    background: rgba(#2492f9, 0.5);
  }
}

::-webkit-scrollbar-track {
  background: #484848;
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/icons/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
