/* Import global variables */
@import './global_variables.scss';

/* Load a font  */
@font-face {
	font-family: Arimo;
	font-weight: $base-font-weight;
	src: url('static/fonts/Arimo.ttf') format('ttf');
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	font: inherit;
	margin: 0;
	padding: 0;
}

/* Set core body defaults */
body {
	background: $dark-gradient;
	color: $white;
	font-family: Arimo, sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
	text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
svg {
	display: block;
	max-width: 100%;
}